*.zip
*.csv
*.dbf
*.shp
*.shx
*.prj
*.cst
*.fix
*.xlsx
*.xls
*.xml
*.json
security.yaml
__pycache__
bin/legacy
.DS_Store
.idea
idea
asset
env
idea 
security 
util 
ddl.sql

*.xlsx
*.csv

code/legacy
code/esda.ipynb
code/ipynbs